* {
  font-family: 'Itim', cursive;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main-interface {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 89vh;
  width: 75vw;
  align-items: center;
}

h1 {
  font-size: 6vw;
  font-family: 'Itim', cursive;
}

.box-container {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
  margin-top: 2.5vh;
}

.hexes-and-locks {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.color {
  height: 13vw;
  width: 13vw;
  background-color: #24680A;
  margin: 0.5vw;
  border: 2px solid black;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  align-self: center;
  padding-left: 3.2vw;
  padding-right: 3.2vw;

}

button {
  width: 14vw;
  height: 6vh;
  font-size: 1.5vw;
  background-color: #ffffff;
  margin: 3.5vw;
  box-shadow: 2px 3px;
}

.saved-palettes {
  width: 25vw;
  border-left: 2px solid black;
  text-align: center;
}

.small-box-container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
}

.im-the-trashman {
  width: 2vw;
  height: 3vh;
  align-self: center;
  margin-left: 4px;
}

.saved-palette-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.small-color {
  height: 6vh;
  width: 3vw;
  margin: 2px;
  border: 1px solid black;
}
